.header-image {
  background-image: url("assets/beverage-caffeine-camera-972540.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}
