body {
  color: #57c2cf;
  background: #3d1009;
}

main {
	display: grid;
	grid-template-columns: 4fr 6fr
}

.list-panel {
  grid-column: 4fr;
  padding: 10px;
  color: #3d1009;
  background: #57c2cf;
}

.show-panel {
  grid-column: 6fr;
  padding: 10px;
  border-right: 2px solid black;
  color: #3d1009;
  background: #57c2cf;
}

.list-panel, .show-panel {
  border-top: 2px solid #3d1009;
  border-bottom: 2px solid #3d1009;
  border-left: 2px solid #3d1009;
}

.list-panel li:hover {
  color: #f6c174;
  background-color: #3d1009;
}
